* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1;
  font-weight: 400;
}

.section-main {
  height: 100vh;
  background-image: url(/back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hangman-main {
  width: 70%;
  background-color: rgb(197, 197, 197);
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  gap: 1.5rem;
  position: relative;
}

.play {
  position: absolute;
  right: 1rem;
  top: 1rem;
  padding: 1rem;
  background-color: white;
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.main-h1 {
  font-size: 3rem;
  grid-column-end: span 2;
}

.hang-img {
}

.hang-img img {
  width: 100%;
  height: 100%;
}

.hang-word {
  border: 2px solid gold;
  height: 100%;
}

.word {
  height: 4rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1rem;
}

.word-btn {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  padding: 1rem;
}

.word-btn button {
  background-color: antiquewhite;
  padding: 0.8rem;
  font-weight: bold;
}


.attempt {
  grid-column-end: span 2;
  font-size: 1.6rem;
}
